.picker {
    border-radius: 5px;
    width: 36px;
    height: 36px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
    border: thin solid #eee;
}
.picker:hover {
    transform: scale(1.1);
}